html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'dosisextralight';
  src: url("../fonts/dosis-variablefont_wght-webfont.woff2") format("woff2"), url("../fonts/dosis-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0 auto;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #798285; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px; }

h2 {
  margin: 0;
  font-family: "dosisextralight", sans-serif;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase; }

.pageHeader {
  position: relative;
  width: 100%;
  padding-top: 50%;
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #ffffff; }

.pageHeader__logo {
  width: 21.4%;
  position: absolute;
  top: 25%;
  left: 39%; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  font-family: "dosisextralight", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #606060;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  z-index: 1000; }

.navigation ul {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  min-height: 60px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .navigation ul li {
    margin-left: 10px; }

.navigation a {
  color: inherit;
  text-decoration: none; }
  .navigation a:hover {
    color: #000000; }

.navigation button {
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer; }
  .navigation button::before {
    position: absolute;
    left: 0;
    content: "";
    width: 30px;
    height: 4px;
    border: none;
    border-radius: 5px;
    background-color: #606060;
    box-shadow: 0 10px 0 0 #606060, 0 -10px 0 0 #606060; }

.navigation button.active-menuButton::before {
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 5px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #606060;
  box-shadow: none; }

.navigation button.active-menuButton::after {
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #606060;
  box-shadow: none; }

@-webkit-keyframes menu_on {
  from {
    right: -50%; }
  to {
    right: 0px; } }

@keyframes menu_on {
  from {
    right: -50%; }
  to {
    right: 0px; } }

.navigation ul.active-menu {
  -webkit-animation: menu_on 1s linear;
  animation: menu_on 1s linear;
  right: 0; }

.discography {
  display: block;
  padding-top: 100px;
  padding-bottom: 300px;
  background-image: url("../img/discography-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center; }

.discography p {
  margin: 0; }

.discography h2 {
  position: relative;
  color: #b68f8c;
  margin-bottom: 40px;
  z-index: -1; }

p.about__description {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center; }

.discography__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.discography__item {
  display: -webkit-box;
  display: flex;
  margin-bottom: 96px; }

.discography__column--1 {
  width: 45%; }

.discography__column--2 {
  width: 55%; }

.discography__column--1 {
  font-family: "open_sansextrabold", sans-serif;
  color: #000000;
  text-transform: uppercase; }
  .discography__column--1 span {
    position: relative;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 5px; }
    .discography__column--1 span::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 95%;
      height: 2px;
      background-color: #798285; }
  .discography__column--1 p {
    margin: 0; }

.discography__column--2 .discography__title {
  margin-bottom: 15px;
  font-size: 23px;
  color: #000000; }

.discography__column--2 .discography__text {
  margin-bottom: 30px; }

.discography button {
  width: 196px;
  padding: 20px;
  font-family: "open_sansextrabold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer; }
  .discography button:hover {
    opacity: 0.8; }

.discography__item--1 button {
  color: #ffffff;
  background-color: #5f476b;
  background-image: url("../img/discography_btn_1.png");
  background-repeat: no-repeat;
  background-size: cover; }

.discography__item--2 button {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/discography_btn_2.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .discography__item--2 button:hover {
    background-color: #9b9393; }

.discography__item--3 button {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/discography_btn_3.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .discography__item--3 button:hover {
    background-color: #9b9393; }

.discography__column--1 p {
  margin-bottom: 20px; }

.concertTours {
  padding: 160px 0 250px;
  background-image: url("../img/concert-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%; }

.concertTours h2 {
  position: relative;
  color: #62a2ad;
  margin-bottom: 55px;
  z-index: -1; }

.concertTours__description {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center; }

.concertTours__item {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.concertTours__column--1 {
  font-family: "open_sansextrabold", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 80px; }
  .concertTours__column--1 span {
    position: relative;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 5px; }
    .concertTours__column--1 span::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 50%;
      height: 2px;
      background-color: #000000; }
  .concertTours__column--1 p {
    margin: 0; }

.concertTours__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 23px;
  color: #000000; }

.concertTours__text {
  margin: 0;
  margin-bottom: 30px;
  color: rgba(0, 2, 3, 0.7); }

.concertTours__column.concertTours__column--2 a {
  position: relative;
  display: block;
  width: 196px;
  padding: 20px;
  font-family: "open_sansextrabold", sans-serif;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 1px solid #798285;
  cursor: pointer; }
  .concertTours__column.concertTours__column--2 a::before {
    position: absolute;
    top: 30px;
    right: 40px;
    content: "";
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000; }
  .concertTours__column.concertTours__column--2 a:hover {
    color: #798285;
    border: 1px solid #000000; }
    .concertTours__column.concertTours__column--2 a:hover::before {
      border-right: 1px solid #798285;
      border-bottom: 1px solid #798285; }

.latterComposition {
  position: relative;
  padding: 160px 0; }

.latterComposition h2 {
  position: relative;
  color: #000000;
  margin-bottom: 50px;
  z-index: -1; }

.latterComposition__description {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center; }

.latterComposition__item {
  display: -webkit-box;
  display: flex;
  margin-bottom: 50px; }

.latterComposition__columnLeft,
.latterComposition__columnRight {
  width: 50%; }

.latterComposition__item p {
  margin: 0; }

.latterComposition__columnRight img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.latterComposition__columnRight .latterComposition__video {
  display: none; }

.latterComposition__columnRight.video--active img {
  display: none; }

.latterComposition__columnRight.video--active .latterComposition__video {
  display: block; }

.latterComposition__columnLeft {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f6f6; }

p.latterComposition__date {
  position: relative;
  display: block;
  padding-bottom: 15px;
  margin-bottom: 5px;
  font-family: "open_sansextrabold", sans-serif;
  color: #000000; }
  p.latterComposition__date::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 80%;
    height: 2px;
    background-color: #000000; }

p.latterComposition__category {
  margin-bottom: 40px;
  font-family: "open_sansextrabold", sans-serif;
  color: #000000;
  text-transform: uppercase; }

p.latterComposition__name {
  margin-bottom: 30px;
  font-size: 23px;
  color: #000000; }

.latterComposition__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: auto; }

.latterComposition__buttons--main {
  position: static;
  display: inline-block;
  width: 196px;
  padding: 20px;
  font-family: "open_sansextrabold", sans-serif;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 1px solid #798285;
  cursor: pointer; }
  .latterComposition__buttons--main::before {
    position: absolute;
    top: 27px;
    right: 20px;
    content: "";
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    z-index: -1; }
  .latterComposition__buttons--main:hover {
    color: #798285;
    border: 1px solid #000000; }
    .latterComposition__buttons--main:hover::before {
      border-right: 1px solid #798285;
      border-bottom: 1px solid #798285; }

.latterComposition__buttons button {
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  line-height: 18px;
  color: inherit;
  border: none;
  background: transparent;
  cursor: pointer; }
  .latterComposition__buttons button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: bottom center; }
  .latterComposition__buttons button:hover {
    color: #000000; }

.latterComposition__buttons--audio::before {
  background-image: url("../img/audio-icon.png");
  background-size: 13px 17px; }

.latterComposition__buttons--like::before {
  background-image: url("../img/heart-icon.jpg");
  background-size: 16px 15px; }

.latterComposition__buttons--options::before {
  background-image: url("../img/option-icon.png");
  background-size: 16px 15px; }

.latterComposition__buttons--comments::before {
  background-image: url("../img/comment-icon.png");
  background-size: 15px 15px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slider {
  position: relative;
  background-image: url("../img/slider-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.slider .slider__wrapper {
  position: static;
  padding: 160px 0 160px;
  text-align: center;
  z-index: 0; }

.slider .slick-dots {
  position: absolute;
  bottom: 80px;
  left: 45%;
  display: -webkit-box;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }
  .slider .slick-dots li {
    margin-left: 30px; }
    .slider .slick-dots li button {
      width: 11px;
      height: 11px;
      padding: 0;
      border: none;
      border-radius: 50%;
      font-size: 0;
      line-height: 0;
      background-color: #ffffff;
      cursor: pointer; }
      .slider .slick-dots li button:hover {
        width: 10px;
        height: 10px;
        border: 1px solid #ffffff;
        background-color: transparent; }

.slider .slick-dots li.slick-active button {
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer; }

.slider .slick-list {
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding-top: 60px;
  z-index: 0;
  z-index: 0; }
  .slider .slick-list::after {
    position: absolute;
    top: 0px;
    left: 48%;
    content: "";
    width: 128px;
    height: 29px;
    background-image: url("../img/note-icon.png");
    background-repeat: no-repeat;
    background-size: cover; }

.slider .slick-prev.slick-arrow {
  display: block;
  outline: none;
  position: absolute;
  top: 38%;
  left: 0;
  background: none;
  border: none;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 80px solid #ffffff;
  font-size: 0;
  line-height: 0;
  z-index: 0;
  cursor: pointer; }
  .slider .slick-prev.slick-arrow::before {
    position: absolute;
    top: -5px;
    right: 50px;
    content: "";
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000; }

.slider .slick-next.slick-arrow {
  display: block;
  outline: none;
  position: absolute;
  top: 38%;
  right: 0;
  background: none;
  border: none;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-right: 80px solid #ffffff;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  z-index: 0; }
  .slider .slick-next.slick-arrow::before {
    position: absolute;
    top: -5px;
    left: 50px;
    content: "";
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000; }

.slider .slider__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase; }

.slider .slider__description {
  margin: 0;
  margin-bottom: 64px; }

.history__slider .slick-next.slick-arrow,
.history__slider .slick-prev.slick-arrow {
  position: absolute;
  content: "";
  width: 40px;
  height: 20px;
  top: 15px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10; }

.history__slider .slick-next.slick-arrow {
  right: 0; }

.history__slider .slick-prev.slick-arrow {
  left: 0; }

.newTracks {
  padding: 160px 0; }

.newTracks__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none; }

.newTracks__item {
  padding: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right; }

.newTracks__item--1 {
  background-image: url("../img/new_image_1.jpg"); }

.newTracks__item--2 {
  background-image: url("../img/new_image_2.jpg"); }

.newTracks__item--3 {
  background-image: url("../img/new_image_3.jpg"); }

.newTracks__item--4 {
  background-image: url("../img/new_image_4.jpg"); }

.newTracks__item--5 {
  background-image: url("../img/new_image_5.jpg"); }

.newTracks__item--6 {
  background-image: url("../img/new_image_6.jpg"); }

.newTracks__item p {
  margin: 0; }

p.newTracks__date {
  position: relative;
  font-family: "open_sansextrabold", sans-serif;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  p.newTracks__date::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #000000; }

p.newTracks__album {
  font-family: "open_sansextrabold", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 45px; }

p.newTracks__name {
  font-size: 23px;
  color: #000000;
  margin-bottom: 40px; }

.upcomingEvents {
  padding: 160px 0;
  background-image: url("../img/upcoming-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left; }
  .upcomingEvents p {
    margin: 0; }
  .upcomingEvents a {
    text-decoration: none;
    color: inherit; }

.upcomingEvents h2 {
  margin-bottom: 110px;
  color: #42717e; }

.upcomingEvents__itemWrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end; }

.upcomingEvents__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px); }

p.upcomingEvents__name {
  position: relative;
  font-size: 23px;
  color: #000000;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  p.upcomingEvents__name::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 50%;
    height: 2px;
    background-color: #000000; }

.upcomingEvents__date {
  font-family: "open_sansextrabold", sans-serif;
  color: #000000; }

.verticalLine-small {
  display: block;
  width: 2px;
  height: 55px;
  margin: 10px 0 10px 30px;
  background-color: #000000; }

.verticalLine--big {
  display: block;
  width: 2px;
  height: 110px;
  margin: 10px 0 10px 30px;
  background-color: #000000; }

.history {
  padding: 160px 0 500px;
  background-image: url("../img/history-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center; }
  .history h2 {
    margin-bottom: 50px; }

.history__description {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 200px;
  text-align: center; }

.history__slider {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 5; }

.history__sliderMonth {
  flex-basis: 20%;
  flex-shrink: 0;
  text-align: center;
  font-family: "dosisextralight", sans-serif;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase; }
  .history__sliderMonth p {
    display: none;
    padding: 5px;
    font-family: "open_sansregular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    color: #5a5a58; }

.slick-current .history__sliderMonth {
  position: relative; }
  .slick-current .history__sliderMonth::before {
    position: absolute;
    top: 15px;
    left: 20px;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000000; }
  .slick-current .history__sliderMonth::after {
    position: absolute;
    top: 15px;
    right: 20px;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000000; }

.slick-current .history__sliderMonth p {
  display: block;
  margin: 0; }

.contact {
  padding: 260px 15% 280px;
  background-image: url("../img/contact-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.contactWrapper {
  width: 50%;
  margin-left: auto; }

.contact h2 {
  margin-bottom: 30px;
  color: #986c4f; }

.contact__address {
  margin: 0;
  margin-bottom: 10px; }

.contact__phone {
  display: inline-block;
  margin: 0;
  margin-bottom: 85px;
  font-family: inherit;
  color: inherit;
  text-decoration: none; }

.contact__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.contact form {
  width: 85%; }
  .contact form input,
  .contact form textarea {
    width: 80%;
    display: block;
    padding: 10px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #000;
    background: transparent; }
  .contact form textarea {
    resize: none; }
  .contact form button {
    display: block;
    font-family: "open_sansextrabold", sans-serif;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer; }

.contact__social {
  width: 15%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }
  .contact__social li {
    width: 20px;
    height: 20px; }
    .contact__social li a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      background-repeat: no-repeat;
      background-position: center; }

.contact__social--twitter a {
  background-image: url("../img/tw-icon.jpg");
  background-size: 19px 19px; }

.contact__social--instagram a {
  background-image: url("../img/insta-icon.png");
  background-size: 16px 13px; }

.contact__social--facebook a {
  background-image: url("../img/fb-icon.png");
  background-size: 8px 17px; }

@media screen and (max-width: 992px) {
    .wrapper {
      padding-left: 30px;
      padding-right: 30px; }
  .navigation ul {
    display: block;
    position: absolute;
    top: 60px;
    right: -50%;
    width: 50%;
    padding: 20px;
    background-color: #9a9a9a;
    z-index: 3000; }
  .navigation button {
    display: block; }
  .discography {
    padding-top: 50px;
    padding-bottom: 130px; }
  p.about__description {
    width: 90%;
    margin-bottom: 70px; }
  .discography__item {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 70px; }
  .discography__column--1,
  .discography__column--2 {
    width: 90%;
    margin: 0 auto; }
  .discography__column--1 {
    margin-bottom: 20px; }
  .discography__text {
    text-align: justify; }
  .discography__item button {
    display: block;
    margin: 0 auto; }
  .concertTours {
    padding: 60px 0 100px; }
  .concertTours__description {
    width: 90%;
    margin-bottom: 70px; }
  .concertTours__text {
    text-align: justify; }
  .concertTours__item {
    width: 80%;
    margin: 0 auto; }
  .latterComposition {
    padding: 60px 0; }
  .latterComposition__description {
    margin-bottom: 80px; }
  .latterComposition__item {
    display: block; }
  .latterComposition__columnLeft,
  .latterComposition__columnRight {
    width: 80%;
    min-height: 384px;
    margin: 0 auto; }
  .latterComposition__columnRight .latterComposition__video {
    min-height: 384px; }
  p.latterComposition__category {
    margin-bottom: 20px; }
  p.latterComposition__name {
    margin-bottom: 15px;
    font-size: 17px; }
  p.latterComposition__text {
    font-size: 12px;
    line-height: 18px; }
  .latterComposition__buttons {
    flex-wrap: wrap; }
  .latterComposition__columnRight .latterComposition__video {
    min-height: 256px; }
  .slider .slider__wrapper {
    padding: 60px 0 60px; }
  .slider .slider__title {
    font-size: 15px;
    line-height: 20px; }
  .slider .slider__description {
    margin-bottom: 30px; }
  .slider .slick-next.slick-arrow,
  .slider .slick-prev.slick-arrow {
    display: none; }
  .slider .slick-dots {
    left: 41%;
    bottom: 30px; }
  .slider .slick-list::after {
    left: 40%; }
  .newTracks {
    padding: 60px 0; }
  .newTracks__item {
    width: calc(50% - 30px); }
  p.newTracks__album {
    margin-bottom: 30px; }
  p.newTracks__name {
    margin-bottom: 30px; }
  .upcomingEvents {
    padding: 60px 0; }
  .upcomingEvents__item {
    width: calc(83.33333% - 30px); }
  .upcomingEvents h2 {
    margin-bottom: 70px; }
  .upcomingEvents h2 {
    margin-bottom: 35px; }
  .history {
    padding: 60px 0 300px; }
  .history h2 {
    margin: 30px; }
  .history__description {
    width: 80%;
    margin-bottom: 50px; }
  .contact {
    padding: 160px 15% 180px; }
  .contactWrapper {
    width: 90%;
    margin: auto; }
  .contact h2 {
    margin-bottom: 20px; }
  .contact__phone {
    margin-bottom: 50px; }
  .contact h2 {
    margin-bottom: 15px; } }

@media screen and (max-width: 768px) {
    .wrapper {
      padding-left: 20px;
      padding-right: 20px; }
  h2 {
    font-size: 30px;
    line-height: 40px; }
    h2::before {
      display: none; }
  .navigation button {
    right: 30px; }
  .discography {
    padding-top: 40px;
    padding-bottom: 60px; }
  p.about__description {
    width: 100%;
    margin-bottom: 40px; }
  .discography__item {
    width: 100%;
    margin-bottom: 40px; }
  .discography__column--1,
  .discography__column--2 {
    width: 100%;
    margin: 0 auto; }
  .discography__column--2 .discography__title {
    font-size: 20px; }
  .concertTours {
    padding: 50px 0 70px; }
  .concertTours h2 {
    margin-bottom: 35px; }
  .concertTours__description {
    width: 100%;
    margin-bottom: 40px; }
  .concertTours__text {
    text-align: justify; }
  .concertTours__item {
    width: 100%;
    margin: 0 auto; }
  .concertTours__column--1 {
    margin-bottom: 30px; }
  .concertTours__title {
    margin-bottom: 20px;
    font-size: 20px; }
  .latterComposition {
    padding: 40px 0 50px; }
  .latterComposition h2 {
    margin-bottom: 30px; }
  .latterComposition__description {
    width: 100%;
    margin-bottom: 30px; }
  article.latterComposition__item {
    margin-bottom: 0; }
  .latterComposition__columnLeft
.latterComposition__columnRight {
    width: 100%; }
  .latterComposition__columnLeft {
    padding: 10px;
    width: 100%; }
  .latterComposition__columnRight {
    width: 100%;
    min-height: 256px; }
  p.latterComposition__text {
    margin-bottom: 15px; }
  .latterComposition__buttons--main {
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .latterComposition__buttons--wrapper {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    justify-content: space-around; }
  .slider .slick-next.slick-arrow {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #ffffff; }
  .slider .slick-next.slick-arrow::before {
    left: 20px; }
  .slider .slick-prev.slick-arrow::before {
    right: 20px; }
  .slider .slick-prev.slick-arrow {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #ffffff; }
  .newTracks {
    padding: 60px 0; }
  .newTracks__list {
    -webkit-box-pack: center;
    justify-content: center; }
  .newTracks__item {
    margin: 0;
    margin-bottom: 15px;
    width: calc(100% - 30px); }
  p.newTracks__album {
    margin-bottom: 20px; }
  p.newTracks__name {
    margin-bottom: 20px; }
  .upcomingEvents {
    padding: 15px 0 30px; }
  .upcomingEvents__item {
    width: calc(100% - 30px); }
  .history {
    padding: 30px 0 200px; }
  .history h2 {
    margin: 20px; }
  .history__description {
    width: 90%;
    margin-bottom: 30px; }
  .history__sliderMonth span {
    font-size: 25px;
    line-height: 30px; }
  .history__sliderMonth p {
    font-size: 12px;
    line-height: 20px; }
  .contact {
    padding: 60px 15% 80px; }
  .contactWrapper {
    width: 100%;
    margin: auto; }
  .contact__phone {
    margin-bottom: 25px; } }

@media screen and (max-width: 560px) {
    .wrapper {
      padding-left: 15px;
      padding-right: 15px; }
  .slider .slick-list::after {
    left: 30%; }
  .slider .slick-dots {
    left: 31%; }
  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
  .contact form {
    width: 100%;
    margin-bottom: 30px; }
  .contact form input,
  .contact form textarea {
    width: 100%; }
  .contact form button {
    margin: 0 auto; }
  .contact__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between; } }
